@use "../Styles/index" as *;

.background-canvas {
  position: fixed;

  inset: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  background: $tertiary;

  pointer-events: none;

  display: block;
}