@use "../Styles/index" as *;

.background-canvas {
  position: fixed;

  inset: 0;

  width: 100%;
  height: 100%;

  z-index: -1;

  pointer-events: none;

  display: block;

  //
  // UNIVERSO ESCURO
  //
  background:
    radial-gradient(
      circle at top,
      rgba(40, 60, 80, 0.15),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom,
      rgba(80, 120, 140, 0.08),
      transparent 40%
    ),
    linear-gradient(
      180deg,
      #020409 0%,
      #050811 40%,
      #020308 100%
    );
}